# Template file for Configurable HTTP Proxy systemd service
# Uses simple string.format() for 'templating'
[Unit]
# Wait for network stack to be fully up before starting CHP
After=network.target

[Service]
User=root
Restart=always
# chp process should have no write access anywhere on disk
ProtectHome=tmpfs
ProtectSystem=strict
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
EnvironmentFile={install_prefix}/configurable-http-proxy.secret
# Set PATH so env can find correct node
Environment=PATH=$PATH:{install_prefix}/hub/bin
ExecStart={install_prefix}/hub/bin/configurable-http-proxy \
            --ip 0.0.0.0 \
            --port 80 \
            --api-ip 127.0.0.1 \
            --api-port 15002 \
            --error-target http://127.0.0.1:15001/hub/error
