# When tljh.installer runs, the users' environment as typically found in
# /opt/tljh/user, is setup with these packages.
#
# WARNING: The order of these dependencies matters, this was observed when using
#          the requirements-txt-fixer pre-commit hook that sorted them and made
#          our integration tests fail.
#
# JupyterHub + notebook package are base requirements for user environment
jupyterhub==4.*
notebook==6.*
# Install additional notebook frontends!
jupyterlab==3.*
# nbgitpuller for easily pulling in Git repositories
nbgitpuller==1.*
# jupyter-resource-usage to show people how much RAM they are using
jupyter-resource-usage==0.7.*
# Most people consider ipywidgets to be part of the core notebook experience
ipywidgets==8.*
