# When tljh.installer runs, the users' environment as typically found in
# /opt/tljh/user, is installed with these packages.
#
# Whats listed here represents additional packages that the distributions
# installs initially, but doesn't upgrade as tljh is upgraded.
#
# WARNING: The order of these dependencies matters, this was observed when using
#          the requirements-txt-fixer pre-commit hook that sorted them and made
#          our integration tests fail.
#
# ref: https://github.com/jupyter/notebook
notebook>=7.2.2,<8

# ref: https://github.com/jupyterlab/jupyterlab
jupyterlab>=4.2.5,<5

# nbgitpuller for easily pulling in Git repositories
# ref: https://github.com/jupyterhub/nbgitpuller
nbgitpuller>=1.2.1,<2

# jupyter-resource-usage to show people how much RAM they are using
# ref: https://github.com/jupyter-server/jupyter-resource-usage
jupyter-resource-usage>=1.1.0,<2

# Most people consider ipywidgets to be part of the core notebook experience
# ref: https://github.com/jupyter-widgets/ipywidgets
ipywidgets>=8.1.5,<9
